/*Author: Candidate Number: 137
  Reusable, modular backArrow
*/
/* VALIDATED CSS3 */
#backArrow {
  position: fixed;
  top: 5px;
  left: 10px;
}
#backArrow * {
  font-family: 'Roboto Slab', serif;
}
#backArrow a {
  text-decoration: none;
  font-size: 300%;
  color: white;
  opacity: 1;

}
#backArrow a span{
  font-size: 50%;
  position: absolute;
  top: 20px;
  left: 30px;
}
#backArrow a:hover {
  cursor: pointer;
}
